<ons-page class="activity-challenge-wrap">

	<!-- .bar-nav -->
	<header class="bar bar-nav">
		<a ng-click="ons.navigator.popPage()" class="icon icon-left icon-left pull-left"></a>
	    <h1 class="title">Activity Challenge</h1>
	    <a id="right-side-menu" class="icon icon-menu pull-right"></a>
	</header>
	<!-- /.bar-nav -->
	
	<!-- .sub-bar-nav -->
	<header class="bar bar-nav sub-bar-nav trip-sub-bar-nav" ng-click="ons.screen.resetToPage('timeline.html')">
	    <h1 class="title">Yr8 London Trip</h1>
	    <div class="progress-bar-wrap">
	        <span class="progress-bar bar-80"></span>
	    </div>
	</header>
	<!-- /.sub-bar-nav -->
	
	<ons-scroller>
		<div class="content-title top-content-title h2">
			<h1>8 Photos of Rare Natural Habitats</h1>
			<span class="content-title-meta ss-usergroup">Red Group</span>	
		</div>
		
		<div class="content-intro">
			<p>Add 8 photos that you can find whilst 
			walking around the Natural History Museum!</p>
			<span class="point-worth">This Challenge is worth 10 points</span>
		</div>
		
		<!-- .create-students-content -->
		<div class="create-trip-content create-groups-content challenges-item full-content-item">
			
			<div class="card">
				<div class="meta">
				    <h2 class="ss-checkclipboard">4 <span>Active</span></h2>
				</div>
				
				<div class="create-trip-challenges">
				    <ul class="student-list">
				    	<li class="inner-card">
				    	    <span class="avatar steve"></span>
				    	    <h3>Steve Austin</h3>
				    	</li>
				    	<li class="inner-card">
				    	    <span class="avatar teacher"></span>
				    	    <h3>Kate Kims</h3>
				    	</li>
				    	<li class="inner-card">
				    	    <span class="avatar"></span>
				    	    <h3>Jason Tapp</h3>
				    	</li>
				    	<li class="inner-card">
				    	    <span class="avatar james"></span>
				    	    <h3>James Dodd</h3>
				    	</li>
				    	
				    </ul>
				</div>

			</div>
			
			<div class="card" style="margin-bottom: 20px;">
				<div class="meta">
				    <h2 class="ss-linechartclipboard">3 <span>Completed</span></h2>
				</div>
				
				<div class="create-trip-challenges">
				    <ul class="student-list">
				        <li class="inner-card completed">
				            <span class="avatar"></span>
				            <h3>Kitty Poppins</h3>
				        </li>
				        <li class="inner-card completed">
				            <span class="avatar james"></span>
				            <h3>James Dodd</h3>
				        </li>
				        <li class="inner-card completed">
				            <span class="avatar denver"></span>
				            <h3>Luis Garcia</h3>
				        </li>
				    </ul>
				</div>

			</div>
			
		</div>
		<!-- /.create-students-content -->

	</ons-scroller>

</ons-page>	 