<ons-page class="create-trip-wrap create-trip-2 modal" data-snap-ignore="true">

	<!-- .bar-nav -->
	<header class="bar bar-nav">
		<a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <h1 class="title">Trip Creator</h1>
	    <a class="pull-right pull-right-text" ng-click="ons.navigator.pushPage('create-trip-3.html')">Next</a>
	</header>
	<!-- /.bar-nav -->
	
	<ons-scroller>
		
		<h1 class="content-title">Select Students</h1>
		
		<!-- .sub-bar-nav -->
		<header class="bar bar-nav sub-bar-nav trip-sub-bar-nav">
		    <h1 class="title">Step 2 of 5</h1>
		    <div class="progress-bar-wrap">
		        <span class="progress-bar bar-20"></span>
		    </div>
		</header>
		<!-- /.sub-bar-nav -->
					
		<!-- .create-students-content -->
		<div class="create-trip-content create-students-content full-content-item">
			
			<div class="card">
				<div class="meta">
				    <h2 class="ss-users">32 <span>Year 7</span></h2>
				</div>
				<ul class="student-list add-students-list">
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar john"></span>
					    <h3>John Smith</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check"></span>
					    <span class="avatar"></span>
					    <h3>Jane Doe</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar steve"></span>
					    <h3>Steve Austin</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check"></span>
					    <span class="avatar teacher"></span>
					    <h3>Kate Kims</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar"></span>
					    <h3>Jason Tapp</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar james"></span>
					    <h3>James Dodd</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check"></span>
					    <span class="avatar denver"></span>
					    <h3>Luis Garcia</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check"></span>
					    <span class="avatar"></span>
					    <h3>John Smith</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar kele"></span>
					    <h3>Kele Romsey</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar"></span>
					    <h3>Jason Tapp</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar james"></span>
					    <h3>James Dodd</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check"></span>
					    <span class="avatar denver"></span>
					    <h3>Luis Garcia</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check"></span>
					    <span class="avatar"></span>
					    <h3>John Smith</h3>
					</li>
					<li class="inner-card">
					    <span class="checkbox ss-check checked"></span>
					    <span class="avatar kele"></span>
					    <h3>Kele Romsey</h3>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.create-students-content -->
		
		<button class="btn purple-btn" ng-click="ons.navigator.pushPage('create-trip-3.html')">Choose Groups</button>
	
	</ons-scroller>

</ons-page>	 