<ons-page class="create-trip-wrap modal" data-snap-ignore="true">

	<!-- .bar-nav -->
	<header class="bar bar-nav">
		<a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <h1 class="title">Trip Creator</h1>
	    <a class="pull-right pull-right-text" ng-click="ons.navigator.pushPage('create-trip-4.html')">Next</a>
	</header>
	<!-- /.bar-nav -->
	
	<ons-scroller>
		
		<h1 class="content-title">Create Groups</h1>
		
		<!-- .sub-bar-nav -->
		<header class="bar bar-nav sub-bar-nav trip-sub-bar-nav">
		    <h1 class="title">Step 3 of 5</h1>
		    <div class="progress-bar-wrap">
		        <span class="progress-bar bar-40"></span>
		    </div>
		</header>
		<!-- /.sub-bar-nav -->
					
		<!-- .create-students-content -->
		<div class="create-trip-content create-groups-content full-content-item">
			
			<div class="card">
				<div class="meta">
				    <h2 class="ss-users">8 <span>Selected Students</span></h2>
				</div>
				<ul class="student-list">
					<li class="inner-card">
					    <span class="avatar john"></span>
					    <h3>John Smith</h3>
					    <ul class="groups-scroller">
					    	<li class="purple" style="border-top:none;">Purple</li>
					    	<li class="blue">Blue</li>
					    	<li class="red">Red</li>
					    	<li class="green">Green</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar"></span>
					    <h3>Jane Doe</h3>
					    <ul class="groups-scroller">
					    	<li class="yellow">Yellow</li>
					    	<li class="red">Red</li>
					    	<li class="purple">Purple</li>
					    	<li class="blue">Blue</li>
					    	<li class="green">Green</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar steve"></span>
					    <h3>Steve Austin</h3>
					    <ul class="groups-scroller">
					    	<li class="red">Red</li>
					    	<li class="purple">Purple</li>
					    	<li class="blue">Blue</li>
					    	
					    	<li class="green">Green</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar teacher"></span>
					    <h3>Kate Kims</h3>
					    <ul class="groups-scroller">
					    	<li class="blue">Blue</li>
					    	<li class="purple">Purple</li>
					    	
					    	<li class="red">Red</li>
					    	<li class="green">Green</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar john"></span>
					    <h3>John Smith</h3>
					    <ul class="groups-scroller">
					    	<li class="purple">Purple</li>
					    	<li class="blue">Blue</li>
					    	<li class="red">Red</li>
					    	<li class="green">Green</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar"></span>
					    <h3>Jane Doe</h3>
					    <ul class="groups-scroller">
					    	<li class="blue">Blue</li>
					    	<li class="purple">Purple</li>
					    	<li class="red">Red</li>
					    	<li class="green">Green</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar steve"></span>
					    <h3>Steve Austin</h3>
					    <ul class="groups-scroller">
					    	<li class="green">Green</li>
					    	<li class="purple">Purple</li>
					    	<li class="blue">Blue</li>
					    	<li class="red">Red</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
					<li class="inner-card">
					    <span class="avatar teacher"></span>
					    <h3>Kate Kims</h3>
					    <ul class="groups-scroller">
					    	<li class="purple">Purple</li>
					    	<li class="blue">Blue</li>
					    	<li class="red">Red</li>
					    	<li class="green">Green</li>
					    	<li class="yellow">Yellow</li>
					    </ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.create-students-content -->
		
		<button class="btn purple-btn" ng-click="ons.navigator.pushPage('create-trip-4.html')">Add Activities</button>
	
	</ons-scroller>

</ons-page>	 