<ons-page class="create-trip-wrap modal" data-snap-ignore="true">

	<!-- .bar-nav -->
	<header class="bar bar-nav">
		<a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <h1 class="title">Trip Creator</h1>
	    <!--<a class="pull-right pull-right-text" ng-click="ons.navigator.pushPage('trips.html')">Create</a>-->
	</header>
	<!-- /.bar-nav -->
	
	<ons-scroller>
		
		<h1 class="content-title">Add Challenges</h1>
		
		<!-- .sub-bar-nav -->
		<header class="bar bar-nav sub-bar-nav trip-sub-bar-nav">
		    <h1 class="title">Step 5 of 5</h1>
		    <div class="progress-bar-wrap">
		        <span class="progress-bar bar-80"></span>
		    </div>
		</header>
		<!-- /.sub-bar-nav -->
					
		<!-- .create-students-content -->
		<div class="create-trip-content create-groups-content challenges-item full-content-item">
			
			<div class="card">
				<div class="meta">
				    <h2 class="ss-checkclipboard">3 <span>Challenges</span></h2>
				</div>
				
				<div class="create-trip-challenges">
				    <ul class="challenges-list">
				        <li>
				        	<a ng-click="ons.navigator.pushPage('create-challenge.html')" class="inner-card">
				        	    <h3>Answer these 5 questions...</h3>
				        	</a>
				        </li>
				        <li>
				        	<a ng-click="ons.navigator.pushPage('create-challenge.html')" class="inner-card">
				        	    <h3>5 photos of different of Sp...</h3>
				        	</a>
				        </li>
				        <li>
				        	<a ng-click="ons.navigator.pushPage('create-challenge.html')" class="inner-card">
				        	    <h3>Collect all of the Stickers...</h3>
				        	</a>
				        </li>
				    </ul>
				    
				    <button class="card-btn btn" ng-click="ons.navigator.pushPage('create-challenge.html')">Add Challenge</button>
				</div>

			</div>
		</div>
		<!-- /.create-students-content -->
		
		<button class="btn purple-btn" ng-click="ons.screen.dismissPage()">Create Trip</button>
	
	</ons-scroller>

</ons-page>	 