<ons-navigator title="Groups" hide-toolbar="true">
	<ons-page class="groups-wrap teacher-wrap">
	
		<!-- .bar-nav -->
		<header class="bar bar-nav">
		    <h1 class="title logo"></h1>
		    <a id="right-side-menu" class="icon icon-menu pull-right"></a>
		</header>
		<!-- /.bar-nav -->
		
		<!-- .sub-bar-nav -->
		<header class="bar bar-nav sub-bar-nav trip-sub-bar-nav" ng-click="ons.screen.resetToPage('timeline.html')">
		    <h1 class="title">Yr8 London Trip</h1>
		    <div class="progress-bar-wrap">
		        <span class="progress-bar bar-80"></span>
		    </div>
		</header>
		<!-- /.sub-bar-nav -->
		
		<ons-scroller>
			<!--<div class="create-trip-bar button-bar"><a class="btn card-btn ss-userprofile" ng-click="ons.screen.presentPage('register.html')">Check Register</a></div>-->
		    <h1 class="content-title">Groups</h1>
		    
		    <!-- .groups-item-->
		    <div class="full-content-item groups-item">
		        <div class="card blue">
		        	<div class="meta">
		        	    <h2 class="ss-usergroup">3 <span>Blue Group</span></h2>
		        	</div>
		        	
		        	<!-- .groups-item-inner -->
		        	<div class="groups-item-inner">
		        	
			        	<!-- .group-members -->
			        	<div class="inner-card groups-inner-card">
				        	<ul class="scroll-carousel group-list-avatars" data-snap-ignore="true">
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')" class="avatar john"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar james"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar sarah"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar kele"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar steve"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar denver"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar natasha"></button></li>
				        		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar teacher"></button></li>
				        	</ul>
			        	</div>
			        	<!-- /.group-members -->
			        	
			        	<!-- .group-actions -->
			        	<ul class="group-actions">
			        		<li class="inner-card" ng-click="ons.navigator.pushPage('student-list.html')"><h3 class="ss-userprofile" >Group Register</h3></li>
			        		<li class="inner-card" ng-click="ons.navigator.pushPage('group-map.html')"><h3 class="ss-pin">Group Map</h3></li>
			        		<li class="inner-card" ng-click="ons.navigator.pushPage('group-chat.html')"><h3 class="ss-chat">Group Chat</h3></li>
			        		<!-- <li class="inner-card" ng-click="ons.navigator.pushPage('group-challenges.html')"><h3 class="ss-checkclipboard">Challenge Scores</h3></li> -->
			        	</ul>
			        	<!-- /.group-actions -->
			        	
					</div>
					<!-- /.groups-item-inner -->
					
		        </div>
		    </div>
		    <!-- /.groups-item -->

		    <!-- .groups-item-->
		    <div class="full-content-item groups-item">
		        <div class="card red">
		        	<div class="meta">
		        	    <h2 class="ss-usergroup">5 <span>Red Group</span></h2>
		        	</div>
		        	
		    		<!-- .groups-item-inner -->
		    		<div class="groups-item-inner">
		    		
		    			<!-- .group-members -->
		    			<div class="inner-card groups-inner-card">
		    		    	<ul class="scroll-carousel group-list-avatars" data-snap-ignore="true">
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar sarah"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar steve"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar denver"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar kele"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar teacher"></button></li>
		    		    	</ul>
		    			</div>
		    			<!-- /.group-members -->
		    			
		    			<!-- .group-actions -->
		    			<ul class="group-actions">
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('student-list.html')"><h3 class="ss-userprofile">Group Register</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-map.html')"><h3 class="ss-pin">Group Map</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-chat.html')"><h3 class="ss-chat">Group Chat</h3></li>
		    				<!-- <li class="inner-card" ng-click="ons.navigator.pushPage('group-challenges.html')"><h3 class="ss-checkclipboard">Challenge Scores</h3></li> -->
		    			</ul>
		    			<!-- /.group-actions -->
		    			
		    		</div>
		    		<!-- /.groups-item-inner -->
		    		
		        </div>
		    </div>
		    <!-- /.groups-item -->
		    
		    <!-- .groups-item-->
		    <div class="full-content-item groups-item">
		        <div class="card purple">
		        	<div class="meta">
		        	    <h2 class="ss-usergroup">4 <span>Purple Group</span></h2>
		        	</div>
		    		
		    		<!-- .groups-item-inner -->
		    		<div class="groups-item-inner">
		    		
		    			<!-- .group-members -->
		    			<div class="inner-card groups-inner-card">
		    		    	<ul class="scroll-carousel group-list-avatars" data-snap-ignore="true">
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar denver"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar natasha"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar teacher"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')" class="avatar john"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar james"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar sarah"></button></li>
		    		    	</ul>
		    			</div>
		    			<!-- /.group-members -->
		    			
		    			<!-- .group-actions -->
		    			<ul class="group-actions">
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('student-list.html')"><h3 class="ss-userprofile">Group Register</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-map.html')"><h3 class="ss-pin">Group Map</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-chat.html')"><h3 class="ss-chat">Group Chat</h3></li>
		    				<!-- <li class="inner-card" ng-click="ons.navigator.pushPage('group-challenges.html')"><h3 class="ss-checkclipboard">Challenge Scores</h3></li> -->
		    			</ul>
		    			<!-- /.group-actions -->
		    			
		    		</div>
		    		<!-- /.groups-item-inner -->
		    		
		        </div>
		    </div>
		    <!-- /.groups-item -->
		    
		    <!-- .groups-item-->
		    <div class="full-content-item groups-item">
		        <div class="card yellow">
		        	<div class="meta">
		        	    <h2 class="ss-usergroup">7 <span>Yellow Group</span></h2>
		        	</div>
		    		
		    		<!-- .groups-item-inner -->
		    		<div class="groups-item-inner">
		    		
		    			<!-- .group-members -->
		    			<div class="inner-card groups-inner-card">
		    		    	<ul class="scroll-carousel group-list-avatars" data-snap-ignore="true">
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar steve"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar sarah"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')" class="avatar john"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar james"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar denver"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar natasha"></button></li>
		    		    	</ul>
		    			</div>
		    			<!-- /.group-members -->
		    			
		    			<!-- .group-actions -->
		    			<ul class="group-actions">
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('student-list.html')"><h3 class="ss-userprofile">Group Register</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-map.html')"><h3 class="ss-pin">Group Map</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-chat.html')"><h3 class="ss-chat">Group Chat</h3></li>
		    				<!-- <li class="inner-card" ng-click="ons.navigator.pushPage('group-challenges.html')"><h3 class="ss-checkclipboard">Challenge Scores</h3></li> -->
		    			</ul>
		    			<!-- /.group-actions -->
		    			
		    		</div>
		    		<!-- /.groups-item-inner -->
		    		
		        </div>
		    </div>
		    <!-- /.groups-item -->
		    
		    <!-- .groups-item-->
		    <div class="full-content-item groups-item">
		        <div class="card green">
		        	<div class="meta">
		        	    <h2 class="ss-usergroup">5 <span>Green Group</span></h2>
		        	</div>
		    		
		    		<!-- .groups-item-inner -->
		    		<div class="groups-item-inner">
		    		
		    			<!-- .group-members -->
		    			<div class="inner-card groups-inner-card">
		    		    	<ul class="scroll-carousel group-list-avatars" data-snap-ignore="true">
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar kele"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar steve"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar denver"></button></li>
		    		    		<li><button ng-click="ons.screen.presentPage('profile-modal.html')"  class="avatar teacher"></button></li>
		    		    	</ul>
		    			</div>
		    			<!-- /.group-members -->
		    			
		    			<!-- .group-actions -->
		    			<ul class="group-actions">
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('student-list.html')"><h3 class="ss-userprofile">Group Register</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-map.html')"><h3 class="ss-pin">Group Map</h3></li>
		    				<li class="inner-card" ng-click="ons.navigator.pushPage('group-chat.html')"><h3 class="ss-chat">Group Chat</h3></li>
		    				<!-- <li class="inner-card" ng-click="ons.navigator.pushPage('group-challenges.html')"><h3 class="ss-checkclipboard">Challenge Scores</h3></li> -->
		    			</ul>
		    			<!-- /.group-actions -->
		    			
		    		</div>
		    		<!-- /.groups-item-inner -->
		    		
		        </div>
		    </div>
		    <!-- /.groups-item -->
		
		</ons-scroller>
	
	</ons-page>	 
</ons-navigator>