<ons-page class="journey-itinery-wrap teacher-wrap">
		
	<!-- .bar-nav -->
	<header class="bar bar-nav">
		<a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <h1 class="title logo"></h1>
	    <a id="right-side-menu" class="icon icon-menu pull-right"></a>
	</header>
	<!-- /.bar-nav -->
	
	<!-- .sub-bar-nav -->
	<header class="bar bar-nav sub-bar-nav trip-sub-bar-nav" ng-click="ons.screen.resetToPage('timeline.html')">
	    <h1 class="title">Yr8 London Trip</h1>
	    <div class="progress-bar-wrap">
	        <span class="progress-bar bar-80"></span>
	    </div>
	</header>
	<!-- /.sub-bar-nav -->
	
	<ons-scroller>
		<div class="journey-map"></div>
		
		<div class="journey-details">
			<hgroup class="sub-title">
				<h3>Winchester to London Waterloo</h3>
				<h4>Duration: 2hours 14minutes</h4>
			</hgroup>
			
			<ul class="journey-list">
			    <li>
			        <div class="journey-title inner-card">
			        	<h3>Winchester</h3>
			       		<span class="ss-clock">9:15</span>
			       	</div>
			       	<div class="journey-meta">
			       		<h4 class="ss-locomotive">Train <span>CrossCountry</span></h4>
			       		<ul class="journey-metadata">
			       			<li><h5>Seat</h5><span>24A</span></li>
			       			<li><h5>Distance</h5><span>21.4<sub>km</sub></span></li>
			       			<li><h5>Duration</h5><span>55<sub>min</sub></span></li>
			       		</ul>
			       	</div>
			    </li>
			    <li>
			    	<div class="journey-title inner-card">
				        <h3>London Waterloo</h3>
				        <span class="ss-clock">10:10</span>
			        </div>
			        <div class="journey-meta">
			        	<h4 class="ss-hiker">Walk</h4>
			        	<ul class="journey-metadata">
			        		<li><h5>Distance</h5><span>2.3<sub>km</sub></span></li>
			        		<li><h5>Duration</h5><span>20<sub>min</sub></span></li>
			        	</ul>
			        </div>
			    </li>
			    <li>
			    	<div class="journey-title inner-card last-journey-title">
				        <h3>Natural History <br>Museum</h3>
				        <span class="ss-clock">10:30</span>
			        </div>
			        <div class="journey-meta last-journey-meta">
			        	<h4 class="ss-pin">Meet at the entrance of Natural History Museum</h4>
			        </div>
			    </li>
			</ul>
			
		</div>
	</h3>
	
</ons-page>	