<ons-navigator title="Timeline" hide-toolbar="true">
	<ons-page class="timeline-wrap">

		<!-- .bar-nav -->
		<header class="bar bar-nav">
			<a id="right-side-menu" class="icon icon-menu pull-right">
		    <h1 class="title logo"></h1>
		</header>
		<!-- /.bar-nav -->
		
		<ons-scroller>
		    
		    <!-- .activity-content -->
		    <ul class="activity-content inner-content">
		        
		        <!-- .content-item -->
		        <li class="content-item register-item">
		            <div class="fullspan-img"></div>
		            <div class="card">
		                <a class="inner-card">
		                	<span class="checkbox ss-check checked"></span>
		                    <h3>Register</h3>
		                </a>
		                <ul class="meta">
		                    <li class="time ss-clock">9:00</li>
		                </ul>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li class="content-item transport-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="transport ss-locomotive"></li>
		                </ul>
		                <a ng-click="ons.navigator.pushPage('journey.html')">
		                    <ul class="journey-wrap">
		                        <li class="inner-card">
		                            <h3>Winchester</h3>
		                            <span class="ss-clock">9:15</span>
		                        </li>
		                        <li class="inner-card">
		                            <h3>London Waterloo</h3>
		                            <span class="ss-clock">10:30</span>
		                        </li>
		                    </ul>
		                </a>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li id="active-content-item" class="content-item active-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="time ss-clock">10:45</li>
		                    <li class="tasks ss-checkclipboard">4</li>
		                    <li class="tasks ss-linechartclipboard">3</li>
		                </ul>
		                <div class="progress-bar-wrap">
		                    <span class="progress-bar bar-80">Active</span>
		                </div>
		                <a ng-click="ons.navigator.pushPage('activity.html')" class="inner-card">
		                	<!--<img src="assets/images/activity/nhm-sm.jpg" alt="">-->
		                	<!-- .gmap -->
		                	<div class="gmap gmap-small">		
		                		<img src="http://maps.googleapis.com/maps/api/staticmap?center=51.501905,-0.130000&zoom=16&format=png&sensor=false&size=840x200&maptype=roadmap&style=feature:road.arterial|visibility:on|color:0xffffff&style=feature:road.arterial|visibility:on|color:0xfedf3d&style=feature:road.highway|visibility:on|color:0xfedf3d&style=feature:road.local|element:geometry|visibility:on|color:0xffffff&style=feature:landscape|visibility:on|color:0xe4eaf0&style=feature:water|visibility:on|color:0x7fc8ed&style=feature:road|element:labels|visibility:off&style=feature:poi.park|element:geometry.fill|visibility:on|color:0x87ce49&style=feature:poi.park|element:labels|visibility:off&style=feature:landscape.man_made|element:geometry|visibility:off|weight:0.9&style=feature:road|element:geometry.stroke|weight:0.1|visibility:off&style=element:labels|visibility:off" alt="Natural History Museum">
		                		<span class="pin"></span>	
		                	</div>			
		                	<!-- /.gmap -->	
		                    <h3 class="ss-bookmark">Natural History Museum</h3>
		                </a>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li class="content-item lunch-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="time ss-clock">12:00</li>
		                </ul>
		                <div class="inner-card">
		                    <h3 class="ss-utensils">Lunch</h3>
		                </div>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li class="content-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="time ss-clock">13:15</li>
		                    <li class="tasks ss-checkclipboard">1</li>
		                    <li class="tasks ss-linechartclipboard">7</li>
		                </ul>
		                <a ng-click="ons.navigator.pushPage('activity.html')" class="inner-card">
		                    <h3 class="ss-rocket">Science Museum</h3>
		                </a>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li class="content-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="time ss-clock">14:00</li>
		                    <li class="tasks ss-checkclipboard">10</li>
		                    <li class="tasks ss-linechartclipboard">0</li>
		                </ul>
		                <a ng-click="ons.navigator.pushPage('activity.html')" class="inner-card">
		                    <h3 class="ss-hanger">V&A</h3>
		                </a>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li class="content-item transport-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="transport ss-locomotive"></li>
		                </ul>
		                <a ng-click="ons.navigator.pushPage('journey.html')">
		                    <ul class="journey-wrap">
		                        <li class="inner-card">
		                            <h3>London Waterloo</h3>
		                            <span class="ss-clock">15:15</span>
		                        </li>
		                        <li class="inner-card">
		                            <h3>Winchester</h3>
		                            <span class="ss-clock">16:20</span>
		                        </li>
		                    </ul>
		                </a>
		            </div>
		        </li>
				<!-- /.content-item -->
		        
		        <!-- .content-item -->
		        <li class="content-item complete-item">
		            <div class="card">
		                <ul class="meta">
		                    <li class="time ss-clock">16:25</li>
		                </ul>
		                <div class="inner-card">
		                    <img src="assets/images/picture-frame.svg" alt="Yello School Trip Complete">
		                    <div class="complete-inner-card">
		                        <h2>School trip complete!</h2>
		                        <button class="btn blue-btn exit-yello-btn">Exit Yello</button>
		                    </div>
		                </div>
		            </div>
		        </li>
		        <!-- /.content-item -->
		        
		    </ul>
		    <!-- /.activity-content -->
		
		</ons-scroller>
	
	</ons-page>	 
</ons-navigator>