<ons-page class="timeline-wrap modal">

	<!-- .bar-nav -->
	<header class="bar bar-nav">
		<a ng-click="ons.navigator.popPage()" class="icon icon-left icon-left pull-left"></a>
	    <h1 class="title">Activity</h1>
	</header>
	<!-- /.bar-nav -->
	
	<ons-scroller>
	    <div class="content-title">
	    	<h1>Yr9 History Trip</h1>
	    	<span class="content-title-meta ss-clockwise">23 Jan, 2014</span>
	    </div>
	    <!-- .activity-content -->
	    <ul class="activity-content inner-content">
	        
	        <!-- .content-item -->
	        <li class="content-item transport-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="transport ss-locomotive"></li>
	                </ul>
	                <a ng-click="ons.navigator.pushPage('journey.html')">
	                    <ul class="journey-wrap">
	                        <li class="inner-card">
	                            <h3>Winchester</h3>
	                            <span class="ss-clock">9:15</span>
	                        </li>
	                        <li class="inner-card">
	                            <h3>Bath Spa</h3>
	                            <span class="ss-clock">10:30</span>
	                        </li>
	                    </ul>
	                </a>
	            </div>
	        </li>
	        <!-- /.content-item -->
	        
	        <!-- .content-item -->
	        <li class="content-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="time ss-clock">10:45</li>
	                </ul>
	                <div class="inner-card">
	                    <h3 class="ss-utensils">Lunch</h3>
	                </div>
	            </div>
	        </li>
	        <!-- /.content-item -->
	        
	        <!-- .content-item -->
	        <li class="content-item lunch-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="time ss-clock">12:00</li>
	                </ul>
	                <div class="inner-card">
	                    <h3 class="ss-rocket">Science Museum</h3>
	                </div>
	            </div>
	        </li>
	        <!-- /.content-item -->
	        
	        <!-- .content-item -->
	        <li class="content-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="time ss-clock">13:15</li>
	                </ul>
	                <div class="inner-card">
	                    <h3 class="ss-bookmark">Natural History Museum</h3>
	                </div>
	            </div>
	        </li>
	        <!-- /.content-item -->
	        
	        <!-- .content-item -->
	        <li class="content-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="time ss-clock">14:00</li>
	                </ul>
	                <div class="inner-card">
	                    <h3 class="ss-hanger">V&A</h3>
	                </div>
	            </div>
	        </li>
	        <!-- /.content-item -->
	        
	        <!-- .content-item -->
	        <li class="content-item transport-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="transport ss-locomotive"></li>
	                </ul>
	                <a ng-click="ons.navigator.pushPage('journey.html')">
	                    <ul class="journey-wrap">
	                        <li class="inner-card">
	                            <h3>Bath Spa</h3>
	                            <span class="ss-clock">15:15</span>
	                        </li>
	                        <li class="inner-card">
	                            <h3>Winchester</h3>
	                            <span class="ss-clock">16:20</span>
	                        </li>
	                    </ul>
	                </a>
	            </div>
	        </li>
			<!-- /.content-item -->
	        
	        <!-- .content-item -->
	        <li class="content-item complete-item">
	            <div class="card">
	                <ul class="meta">
	                    <li class="time ss-clock">16:25</li>
	                </ul>
	                <div class="inner-card">
	                    <div class="complete-inner-card">
	                        <h2>School trip complete</h2>
	                    </div>
	                </div>
	            </div>
	        </li>
	        <!-- /.content-item -->
	        
	    </ul>
	    <!-- /.activity-content -->
	
	</ons-scroller>

</ons-page>	 